img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50%;
    width:60%;
     
  }

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: Helvetica;
    font-style: oblique;
    font-size: 80px;
}